[submodule "third_party/oss-fuzz"]
	path = third_party/oss-fuzz
	url = https://github.com/google/oss-fuzz.git
[submodule "fuzzers/libfuzzer_ocg/greyc"]
	path = fuzzers/libfuzzer_ocg/greyc
	url = https://github.com/mboehme/greyc
