[submodule "third_party/oss-fuzz"]
	path = third_party/oss-fuzz
	url = https://github.com/google/oss-fuzz.git
[submodule "fuzzers/ifcg/fuzzinfer"]
	path = fuzzers/ifcg/fuzzinfer
	url = https://github.com/bajinsheng/OCG
[submodule "fuzzers/origin/fuzzinfer"]
	path = fuzzers/origin/fuzzinfer
	url = https://github.com/bajinsheng/OCG
	branch = baseline
